.p-field {
    width: 100%;
    max-width: 30rem;
    &__wrapper {
        height: 20rem;
        position: relative;
    }
    &__character-box {
        position: absolute;
        display: flex;
        align-items: center;
        &.-turtle {
            bottom: 0;
            left: 0;
        }
        &.-rabbit {
            top: 0;
            right: 0;
        }
    }
    &__character {
        height: 10rem;
        &.-rabbit {
            height: 8rem;
        }
    }
    &__button {
        -webkit-appearance: none;
        display: inline-block;
        border-radius: 4px;
        margin-left: 1rem;
        padding: 0.25em 0.5em;
        position: relative;
        width: 5rem;
        &.-view {
            background: #00BCD4;/*背景色*/
            color: #fff;/*=背景色*/
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
            border-bottom: solid 2px #118e9e;
            font-weight: bold;
            text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
        }
    }
}