@charset "UTF-8";

html{
    font-size: 62.5%;
	scroll-behavior:smooth;
}

*,*::before,*::after{
    box-sizing:border-box;
    margin: 0;	
    padding: 0;
}

body {
    font-family: Hiragino Sans, 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
}